:root {
  --dark-blue-color: #323a45;
  --green-accent-color: #8cc63f;

  --elegance-primary-colour: #8cc63f;

  --form-label-max-width: 220px;
  --form-label-min-width: 120px;
}


body {
  --drawer-top-offset: 52px;
  color: var(--dark-blue-color);
}

header {
  display: flex;
  align-items: center;
  height: var(--drawer-top-offset);
  background: var(--dark-blue-color);
  color: #f3f3f3;
}

.drawer-app-content {
  padding: 24px;
}

.pin-menu {

}

.panel {
  background: #f9f9f9;
}

.panel-header { line-height: 52px; background: var(--dark-blue-color); border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 0 3%; font-size: 16px; color: white; margin: 0; }

.panel-header h1 {
  margin: 0;
  font-size: 16px;
}

table.datalist {
  border-spacing: 0;
}

table.datalist thead,
table.datalist tbody tr:nth-child(even) {
  background: #f0f0f0;
}

table.datalist th,
table.datalist td {
  padding: 14px 10px;
}

/*
a:hover {
  color: var(--green-accent-color);
}
*/
/*
button[disabled] {
  cursor: default;
}*/

button {
  cursor: pointer;
}

.form-group {
  display: flex;
  line-height: 35px;
  flex-wrap: wrap;
  align-items: center;
}

.form-group .form-label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: var(--form-label-min-width);
  max-width: var(--form-label-max-width);
}

.form-group .form-data {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: var(--form-label-max-width);
}

.pin-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 52px;
  color: #f3f3f3;
  cursor: pointer;
}

.pin-menu:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-item .list-item__leading {
  justify-content: center;
}

table {
  width: 100%;
}

table .shrink {
  width: 1px;
}
